In [26]:
## In Class 2021-10-13

In [27]:
## Q1 Load the data file to your S3 bucket. Using the pandas library, read the csv data file
## and create a data-frame called car price.

import pandas as pd
import boto3
import numpy as np
## import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
## for regression is RandomForestRegressor
from sklearn.linear_model import LogisticRegression, Lasso, LassoCV
from sklearn.metrics import recall_score


## Defining the S3 bucket
s3 = boto3.resource('s3')
bucket_name = 'bonnieh-data-445-bucket'
bucket = s3.Bucket(bucket_name)

## Defining the file to be read from s3 bucket
file_key = 'framingham.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

##R Reading the csv file
heart = pd.read_csv(file_content_stream)
heart.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [28]:
## Q2 Remove observations with missing values.

heart = heart.dropna()
heart.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [40]:
## Q3 Using male, age, currentSmoker, totChol, sysBP,BMI, heartRate, and glucose as the
## predictor variables, and TenYearCHD is the target variable, split the data into two data-frames (taking
## into account the proportion of 0s and 1s): train (80%) and test (20%).

X = heart[['male', 'age', 'currentSmoker', 'totChol', 'sysBP', 'BMI', 'heartRate','glucose']]
Y = heart['TenYearCHD']
           
X_train, X_test, Y_train,Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)        
X_train.head()

      male  age  currentSmoker  totChol  sysBP    BMI  heartRate  glucose
358      0   40              1    210.0  118.0  21.21      130.0     84.0
880      1   53              1    232.0  134.0  25.13       54.0     75.0
1918     1   51              0    215.0  147.0  28.59       65.0    100.0
1061     0   41              1    140.0  110.0  23.38       65.0     82.0
537      0   62              0    246.0  171.0  23.88       75.0     78.0

In [41]:
## Q4  Transform each of the input variables in the train and test dataset to 0-1 scale.

scaler = MinMaxScaler()

X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X_train.columns)
X_test = pd.DataFrame(scaler.fit_transform(X_test), columns = X_test.columns)
X_test.head()

,male,age,currentSmoker,totChol,sysBP,BMI,heartRate,glucose
0,0.0,0.228571,0.0,0.113553,0.063123,0.250711,0.111111,0.106707
1,0.0,0.628571,1.0,0.498168,0.196013,0.375533,0.277778,0.173780
2,0.0,0.114286,0.0,0.201465,0.129568,0.285206,0.333333,0.054878
3,0.0,0.685714,1.0,0.135531,0.182724,0.303698,0.500000,0.112805
4,1.0,0.685714,0.0,0.673993,0.664452,0.332504,0.144444,0.152439

In [42]:
## Q5  Using the train data-frame, build a LASSO model in which male, age, currentSmoker,
## totChol, sysBP,BMI, heartRate, and glucose are the predictor variables, and TenYearCHD is the target
## variable. After that, using the top 5 variables from the LASSO model (the variables with the highest
## estimated coefficients in absolute value), build a logistic regression model in which TenYearCHD is the
## target variable. Using this model, predict the likelihood of risk of coronary disease of the patients in
## the test data-frame. Using 10% as cutoff value, report the recall.

## LASSO

lasso_cv = LassoCV(cv = 5).fit(X_train, Y_train)
lasso_cv.alpha_

## Building LASSO regression
lasso_md = Lasso(alpha = lasso_cv.alpha_).fit(X_train, Y_train)
lasso_md.coef_

## lists the coefficients for each variable
## order of the variables: 'male', 'age', 'currentSmoker', 'totChol', 'sysBP', 'BMI', 'heartRate','glucose'

array([0.06981578, 0.26469218, 0.03261007, 0.        , 0.51392572,
       0.        , 0.        , 0.24903764])

In [43]:
## Keeping only the 5 variables with the best LASSO scores

X_train_lasso = X_train[['male', 'age', 'currentSmoker', 'sysBP', 'glucose']]
X_test_lasso = X_test[['male', 'age', 'currentSmoker', 'sysBP', 'glucose']]

## Logistic Regression
logit_md = LogisticRegression().fit(X_train_lasso, Y_train)

## predicting on test
pred1 = logit_md.predict_proba(X_test_lasso)[:,1]
pred1 = np.where(pred1 < 0.1, 0, 1)

## computing the recall
recall_score(Y_test, pred1)

0.9017857142857143

In [45]:
## Q6 Using the train data-frame, build a random forest model (with 500 trees) in which: male,
## age, currentSmoker, totChol, sysBP,BMI, heartRate, and glucose are the predictor variables, and
## TenYearCHD is the target variable. After that, using the top 5 variables from the random forest model
## (the variables with the highest importance values), build a random forest model in which TenYearCHD
## is the target variable. Using this model, predict the risk of coronary disease of the patients in the test
## data-frame. Using 10% as cutoff value, report the recall.

## building RF classifier

RF = RandomForestClassifier(n_estimators = 500).fit(X_train, Y_train)

## extracting importance
RF.feature_importances_

## want highest values--which are 5, 6, 4, 8, 2
## Variable list: 'male', 'age', 'currentSmoker', 'totChol', 'sysBP', 'BMI', 'heartRate','glucose'

array([0.02387388, 0.1493959 , 0.02124406, 0.16155784, 0.18913267,
       0.17315489, 0.12661925, 0.1550215 ])

In [46]:
## creating the test data with only the 5 best variables

X_train_RF = X_train[['age','totChol','sysBP', 'BMI', 'glucose']]
X_test_RF = X_test[['age','totChol','sysBP', 'BMI', 'glucose']]
X_train_RF.head()

        age   totChol     sysBP       BMI   glucose
0  0.210526  0.199179  0.163121  0.137421  0.124294
1  0.552632  0.244353  0.238771  0.232429  0.098870
2  0.500000  0.209446  0.300236  0.316287  0.169492
3  0.236842  0.055441  0.125296  0.190015  0.118644
4  0.789474  0.273101  0.413712  0.202133  0.107345

In [49]:
## creating the RF model

RF = RandomForestClassifier(n_estimators = 500, max_depth = 5).fit(X_train_RF, Y_train)

## predicint on test
pred2 = RF.predict_proba(X_test_RF)[:,1]
pred2 = np.where(pred2 < 0.1, 0, 1)

## calculating the recall
recall_score(Y_test, pred2)

0.9375

In [ ]:
## Q7 Using the results from parts (5) and (6), what model would you use to predict TenYearCHD
## based on the recall?

## The recall value for the LASSO selection is 0.901 and for the RF selection is 0.934. Based on these 
## values I would select the RF model, as it has the higher recall score.